<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ site.description }}" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="fb:admins" content="" />
  <meta property="og:image" content="{{ site.baseurl }}/{{ site.favicon }}" />
  <meta name="twitter:card" content="{{ site.description }}"/>
  <meta name="twitter:site" content="@{{ site.twitter-username }}"/>
  <meta name="twitter:domain" content="{{ site.title }}"/>
  <meta name="twitter:creator" content="@{{ site.twitter-username }}"/>

  <link rel="shortcut icon" href="{{ site.baseurl }}/{{ site.favicon }}">

  <!-- css -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendors/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendors/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.min.css">



</head>
