<section class="about-section">
<div class="palette">
<div class="container horizontal-padding-medium">
<div class="row">
	<div class="col-md-7 col-md-offset-4">
  	<p>Get updates when a font icon library is added to Fadbus.</p>
     <!-- Begin MailChimp Signup Form -->
					
						<div class="form-inline mc-signup">
						<form action="http://twitter.us3.list-manage2.com/subscribe/post" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<input type="hidden" name="u" value="6242f1c6f64f03b7b7c1d4107">
							<input type="hidden" name="id" value="5cad221478">
							<input type="hidden" name="orig-lang" value="1">
							<input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" class="form-control input-small" value="" placeholder="Enter email" required>
							
						    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;"><input type="text" name="b_cfd0fac6df19ebe88e3941afd_32e1489c58" tabindex="-1" value=""></div>
						    <input type="submit" value="Go" name="subscribe" id="" class="btn">

						</form>
					
				</div>
				

<!--End mc_embed_signup-->
     <p>Filterable database of <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">FontAwesome</a> icons. Created and maintained by <a href="https://github.com/dereknutile" target="_blank">@dereknutile</a> and <a href="https://github.com/deandowd" target="_blank">@deandowd</a>. New metadata and improvements can be commited via the <a href="https://github.com/fadbus/fadbus.github.io" target="_blank">repository</a>.</p>
  </div>
  
</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- /.palette -->
</div><!-- /.about-section -->
</section>