
	<section class="home-section">
		<div class="container">
		  <div class="row">

		    <div class="col-md-12">
		    	<div class="circle-text">
		    		<div><i class="fa fa-bus"></i></div>
		    	</div>
		    	<div class="logo">
		      	<h1>Fadbus</h1>
		      	<p>The Database of Font Icons</p>
		      </div>
		  </div>


		<section class="searchbox-section">
			<div class="row">
				<div class="col-md-4">
		      <h2><span>Search for a font icon</span></h2>
		    </div>
				<div class="col-md-8">
					<div class="container horizontal-padding-medium">
						<div class="row">
							<div class="col-xs-8">
								<input type="search" class="search form-control input-medium" id="font-filter-box" placeholder="Try 'wine' or 'email' or 'reboot' ... ">
							</div>
						</div>

		  				
					</div>
				</div><!-- /.container -->
			</div><!-- /.row -->
		</section><!-- /.searchbox-section -->
	</div>
</section>
