/* sass assets/scss/custom.scss:assets/css/custom.min.css --style compressed  */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* font imports
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*script*/
// @import url(http://fonts.googleapis.com/css?family=Pacifico);

/*sans serif*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/*serif*/
@import url(http://fonts.googleapis.com/css?family=Arvo);

/*monospace*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* global variables */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*variables -- fonts*/
$monoSpaceFont: Inconsolata, Courier, monospace;
$serifFont: 'Arvo', Times, serif;
$sansSerifFont: 'Source Sans Pro', Helvetica, Arial, sans-serif;

/*variables -- sizes*/

/*variables -- colors*/
$coreBackgroundColor: #1A1A1A;
$coreHyperlink: #e50914;
$subtleGray: #eee;
$light: #efefef;
$activeCallout: #a29e5e;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  /*padding-top: 80px;*/
  font-family: $sansSerifFont;
  /*background-color: lighten( $coreBackgroundColor, 18% );*/
  background-color: #fff;
  /*background: url('/assets/img/texturetastic_gray.png') repeat;*/
  /*background-attachment: fixed;*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: $serifFont;
}

h1 { margin-bottom: 1em; }

p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 1em;
}

a { color: $coreHyperlink; }
a:hover { color: $coreHyperlink; }
a:visited { color: $coreHyperlink; }


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Bootstrap overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container {
  // width: 1024px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 18px 0 18px;
}

.navbar-default .navbar-brand {
  // color: #bf9000;
  font-size: 20px;
  font-weight: 400;
  font-family: $monoSpaceFont;
  color: #fff;
  background-color: darken( $coreBackgroundColor, 20% );
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
  border-color: transparent;
}

@media (min-width: 360px){
  .navbar-nav>li {
    float: left;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
  color: lighten( $coreHyperlink, 10% );
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: lighten( $coreHyperlink, 60% );
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: lighten( $coreHyperlink, 40% );
}

.navbar-default .navbar-nav>li:hover {
  background-color: $coreBackgroundColor;
  color: darken( $coreHyperlink, 50% );
  -webkit-transition: 300ms linear 0s;
  -moz-transition: 300ms linear 0s;
  -o-transition: 300ms linear 0s;
  transition: 300ms linear 0s;
  outline: 0 none;
;}

.navbar-toggle {
  border-radius: 0px;
}

.navbar-default .navbar-toggle {
  border-color: darken( $coreBackgroundColor, 20% );
}

.navbar-default .navbar-nav>li>a:hover {
  color: lighten( $coreBackgroundColor, 50% );
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: darken( $coreBackgroundColor, 20% );
}

@media (min-width: 768px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
  }
}

#footer {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
}

.jumbotron {

}

.lead {

}

.page-header {
  border-bottom: none;
}

.navbar {
  font-family: $sansSerifFont;
  margin-bottom: 0px;
}

.navbar-default {
  background-color: darken( $coreBackgroundColor, 20% );
  border-bottom: 1px solid darken( $coreBackgroundColor, 20% );
  box-shadow: 0 6px 15px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.navbar-subnavbar {
  height: 100px;
  padding-top: 48px;
  border-color: transparent;
  border-radius: 0px;
  background-color: lighten( $coreBackgroundColor, 12% );
}

.dropdown-menu {
  background-color: darken( $coreBackgroundColor, 20% );
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0px solid $coreBackgroundColor;
  border-radius: 0px;
  /*-webkit-box-shadow: 0 6px 12px #c8c8c8;*/
  box-shadow: 0 8px 8px rgba(0,0,0,0.19);
}

.dropdown-menu>li>a {
  font-weight: 100;
  font-size: 16px;
}

.dropdown-menu>li>a:hover {
  background-color: lighen( $coreBackgroundColor, 10% );
}

.modal-content {
  border-radius: 0px;
}

.tooltip-inner {
  width: 400px;
  min-width: 400px;
}

h1 small {
  padding-left: 15px;
}

.form-control {
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  font-family: $serifFont;
  color: darken( $coreBackgroundColor, 15% );
  background-color: lighten( $subtleGray, 25% );
  border: 1px solid lighten( $subtleGray, 20% );
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 0 0 rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.filter-input{
  display: inline;
  width: 80%;
  float:right;
}

.btn {
  border-radius: 0px;
}

a.brand {
  display: inline-block;
  padding-top: 5px;
  margin-top: 5px;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
}

a.brand:hover {
  color: $coreHyperlink;
  text-decoration: none;
}

.form-control::-webkit-input-placeholder {
  color: darken( $subtleGray, 10% );
  font-weight: 100;
}

.form-control:-moz-placeholder { /* Firefox 18- */
  color: darken( $subtleGray, 10% );
  font-weight: 100;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
  color: darken( $subtleGray, 10% );
  font-weight: 100;
}

.form-control:-ms-input-placeholder {
  color: darken( $subtleGray, 10% );
  font-weight: 100;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* custom styles
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#font-filter {
  margin-bottom: 24px;
}

.footer-wrapper {
  padding-top: 24px;
  padding-bottom: 36px;
}

.footer-copyright{
  color: darken( $coreBackgroundColor, 22% );
  font-size: 12px;
  font-weight: 700;
}

.horizontal-padding-small {
  padding: 8px 0 8px 0;
}

.horizontal-padding-medium {
  padding: 24px 0 24px 0;
}

.horizontal-padding-large {
  padding: 48px 0 96px 0;
}

.background-color-eee {
  background-color: $subtleGray;
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 125px;
  height: 125px;
  z-index: 10000;
}

.font-list-header {
  font-weight: 800;
  padding: 8px 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 3px solid $subtleGray;
}

.font-list-rows {
  padding: 8px 0 8px 0;
  border-bottom: 1px dashed darken($subtleGray, 15%);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* card styles
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.card {
  background-color: $coreHyperlink;
  color: #fff;
  margin-bottom: 1em;
  border: 0px solid $coreHyperlink;
  opacity: 0.90;
}

.card .row {
  padding: 4px 2px;
}

.card .icon {
  font-size: 2.5em;
}

.card .icon-name {
  font-size: 1.4em;
  line-height: 2.5em;
}

.card .icon-code {
  background-color: $subtleGray;
}

.card .icon-link {
}

a.link-div {
  border: 1px solid $coreHyperlink;
  display: block;
  color: #fff;
}

a.link-div:hover {
  border: 1px solid $coreHyperlink;
  box-shadow: 0 3px 6px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  color: darken( $activeCallout, 10% );
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* responsive
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 768px) {
  .container {
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .forkme {
    display: none;
  }
}

#top {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 220px;
  background: #3f51b5;
  background-size: cover;
  color: #fff;
}

.form-top-pad {
  margin-top: 6px;
}

.float-left-override {
  float: left;
}

#font-icon-icon {
  text-align: center;
  padding-top: 22px;
}

#font-icon-id {
  text-align: center;
  font-size: 20px;
}

#font-icon-code {
  font-size: 16px;
  padding: 12px 2px;
  text-align: center;
  background-color: #eee;
  font-family: $monoSpaceFont;
}

#font-icon-details {
  font-size: 16px;
}

#font-icon-meta {
  font-size: 14px;
  color: #aaa;
}

.landing-page {
  background-color: lighten( $coreBackgroundColor, 32% );
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.paper-material {
  background-color: lighten( $coreBackgroundColor, 18% );
  padding: 20px 9px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#page-heading {
  /*background-color: lighten( $coreBackgroundColor, 18% );*/
}
