<!-- Modal -->
<div class="modal fade" id="font-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="font-icon-title">FontAwesome Icon</h4>
      </div>
      <div class="modal-body">
        <div class="modal-container">
          <div class="row">
            <div class="col-sm-3" id="font-icon-icon"></div><!-- /.col -->

            <div class="col-sm-9">
              <h5 id="font-icon-id"></h5>
              <p id="font-icon-code"></p>
              <ul class="list-unstyled" id="font-icon-details"></ul>
              <p id="font-icon-meta"></p>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.modal-container -->
      </div>
      <div class="modal-footer">
        <a href="#" target="_blank" class="btn btn-primary" id="fontawesome-url">View on FontAwesome&nbsp;<i class="fa fa-external-link"></i></a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- /.modal -->