
  <div class="mc-signup" id="mailchimp-form">

  <form action="http://twitter.us3.list-manage2.com/subscribe/post" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <input type="hidden" name="u" value="cfd0fac6df19ebe88e3941afd">
    <input type="hidden" name="id" value="32e1489c58">
    <input type="hidden" name="orig-lang" value="1">
    
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
    <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" class="form-control input-small" value="" placeholder="your@email.com" required>
    </div>
    <!-- real people should not fill this in and expect good things
         do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_cfd0fac6df19ebe88e3941afd_32e1489c58" tabindex="-1" value="">
    </div>

    <!-- I set this button to block width for testing, remove `btn-block` -->
    <input type="submit" value="Go" name="subscribe" id="mailchimp-submit" class="btn btn-block">

  </form>
  </div><!-- /#mailchimp-form -->